## 반복문을 탈출시키는 break문

In [1]:
hap = 0
a,b = 0,0

while True:
    a = int(input('더할 첫번째 수를 입력하세요 :'))
    if a == 0:
        break
    b= int(input("더할 두번째 수를 입력하세요 :"))
    hap = a+b
    print("%d + %d = %d"%(a,b,hap))
    
print('0을 입력해 반복문을 탈출했습니다.')

더할 첫번째 수를 입력하세요 : 55
더할 두번째 수를 입력하세요 : 22

55 + 22 = 77

더할 첫번째 수를 입력하세요 : 77
더할 두번째 수를 입력하세요 : 128

77 + 128 = 205

더할 첫번째 수를 입력하세요 : 0

0을 입력해 반복문을 탈출했습니다.

In [2]:
hap, i = 0,0

for i in range(1,101):
    hap += i
    
    if hap >= 1000:
        break
        
print(i)

45

### 문제1

In [12]:
for i in range(1,6):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****

### 문제2

In [23]:
num = int(input('정수를 입력하시오 :'))

for i in range(1, num+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

정수를 입력하시오 : 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### 문제 3

In [19]:
num = int(input('정수를 입력하시오:'))


for i in range(1,num+1):
    if num%i==0:
        print(i, end=' ')

정수를 입력하시오: 60

1 2 3 4 5 6 10 12 15 20 30 60

### 문제 4

In [31]:
x = int(input('첫번째 정수를 입력하시오 :'))
y = int(input("두번째 정수를 입력하시오 :"))

m = min(x,y)


for x in range(1, m+1):
    if x%m==0 and y%m==0:
        gcd = m
        
print('최소공배수 : ',gcd)

첫번째 정수를 입력하시오 : 3
두번째 정수를 입력하시오 : 6

최소공배수 :  3

### 문제 5

In [28]:
n = int(input('정수를 입력하세요 :'))
hap = 0

for i in range(1,n+1):
    hap += i**2
    
print('계산값은',hap)

정수를 입력하세요 : 10

계산값은 385

### 문제 6

In [35]:
hap = 0

for i in range(1,101):
    if i%3==0:
        continue
    else:
        hap += i

print('1부터100까지의 합계(3의 배수 제외)',hap)

1부터100까지의 합계(3의 배수 제외) 3367

### 문제 7

In [37]:
print('>>>')
while True:
    n = int(input('Enter the number :'))
    if n == 0:
        break
    elif n%2==0:
        print('%d is even number'%n)
    else:
        print('%d is odd number'%n)
print('>>>')

>>>

Enter the number : 5

5 is odd number

Enter the number : 3

3 is odd number

Enter the number : 2

2 is even number

Enter the number : 0

>>>

### 문제8

In [42]:
fruits = ['strawberry', 'apple', 'banana', 'wawtermelon','grape']

for i in range(len(fruits)-1,-1,-1):
    print(fruits[i], end=' ')

grape wawtermelon banana apple strawberry

# 4장 함수

In [43]:
def get_area(radius):
    area = 3.14*radius**2
    return area

In [44]:
def get_input():
    return 2,3

x,y = get_input()

In [45]:
def sub():
    pass

In [46]:
def greet(name, msg='hi'):
    return print(name, msg)

greet('동준')

동준 hi

In [47]:
def add(*numbers):
    sum1 = 0
    for n in numbers:
        sum1 = sum1 + n
    return sum1

In [49]:
def plus(v1, v2):
    result = 0
    result = v1 + v2
    return result

hap = 0

hap = plus(100,200)
print('100과 200의 plus()함수 결과는 ', hap)

100과 200의 plus()함수 결과는  300

#### 연습문제

In [54]:
def id():
    name = input('이름:')
    age = int(input('나이:'))
    
    return print('이름은 '+name+' 이고 나이는 '+ str(age) +' 살입니다.')

In [55]:
id()

이름: 홍길동
나이: 20

이름은 홍길동 이고 나이는 20 살입니다.

#### 연습문제

In [57]:
def cal_area():
    x = int(input('밑변 입력:'))
    y = int(input('높이 입력:'))
    return float(0.5 * y*x)

area = cal_area()

print('삼각형의 넓이', area)

밑변 입력: 5
높이 입력: 10

삼각형의 넓이 25.0

### lab 터틀을 이용해 플롯 그리기

In [58]:
import turtle


def drawBar(height):
    t.begin_fill()
    t.left(90)
    t.forward(height)
    t.write(str(height), font = ('Times New Roman', 16, 'bold'))
    t.right(90)
    
    t.forward(40)
    t.right(90)
    t.forward(height)
    t.left(90)
    t.end_fill()

data = [120,56,309,220, 156,22,98]

t = turtle.Turtle()
t.color('blue')
t.fillcolor('red')

t.pensize(3)

for d in data:
    drawBar(d)
    
turtle.mainloop()
turtle.bye()

Terminator:

In [59]:
def func1():
    global a
    a = 10
    print("func1()에서 a값",a)
    
    
def func2():
    print('finc2()에서 a값',a)
    
a = 20

func1()
func2()

func1()에서 a값 10
finc2()에서 a값 10

### 문제1

In [83]:
def get_peri(radius=5.0):
    area = 2*3.141592*radius
    return area

In [84]:
get_peri()

31.41592

In [85]:
get_peri(4.0)

25.132736

### 문제 2

In [88]:
def getSorted(x,y):
    if x<y:
        return x,y
    else:
        return y,x
    
x = int(input('첫번째 정수 :'))
y = int(input('두번째 정수 :'))

print(getSorted(x,y))

첫번째 정수 : 10
두번째 정수 : 20

(10, 20)

### 문제 3

In [98]:
def dice():
    import random
    
    
    while True:
        human = int(input('인간 : 주사위값= '))
        com = random.randint(1,6)
        print('컴퓨터 : 주사위값= ',com)
        
        if human>com:
            print('인간승리')
        elif human == com:
            print('비겼습니다.')
        else:
            print('컴퓨터승리')
            
        go = input('중단할까요? Y/N')
        if go=='Y' and go=='y':
            break
        else:
            continue

In [97]:
dice()

인간 : 주사위값=  6

컴퓨터 : 주사위값=  3
인간승리

중단할까요? Y/N N
인간 : 주사위값=  6

컴퓨터 : 주사위값=  6
비겼습니다.

중단할까요? Y/N Y

### 문제 4

In [100]:
def weeklyPay(rate, hour):
    if hour > 30:
        return (rate*30) + (hour-30)*rate*1.5
    else:
        return rate*hour


rate = int(input('시급을 입력하시오:'))
hour = int(input('근무 시간을 입력하시오:'))
print("주급은 ", weeklyPay(rate,hour))

시급을 입력하시오: 10000
근무 시간을 입력하시오: 38

주급은  420000.0