### 문제5

In [6]:
def change_meter(meter):
    feet = float(meter / 0.305)
    yard = float(meter * 1.0936)
    return print(meter,' meter는', yard,'yard, ', feet,' feet입니다.')

meter = float(input('meter 입력 :'))
change_meter(meter)

meter 입력 : 5

5.0  meter는 5.468 yard,  16.39344262295082  feet입니다.

### 문제6

In [8]:
def checkPW(passwd):
    if len(passwd) >= 9:
        return 'good'
    elif len(passwd) >= 5:
        return 'Normal'
    else:
        return 'Bad'
    
password = input('비밀번호 입력:')
checkPW('Your password:',password)

비밀번호 입력: myPassword

'good'

In [17]:
def objection(dest):
    
    if dest == '춘천':
        charge = 5000
    elif dest == '부산':
        charge = 30000
    elif dest == '대구':
        charge = 20000
    elif dest == '수원':
        charge = 10000
    else:
        print('잘못입력하셨습니다.')
        
        
    return charge

In [18]:
def train(tra):
    
    if tra == 'KTX':
        charge = 10000
    elif tra == '새마을호':
        charge = 5000
    elif tra == '무궁화호':
        charge = 3000
    else:
        print('다시 입력하세요')
        
    return charge

In [24]:
def ud(seat):
    
    if seat =='좌석':
        charge = 10000
    elif seat == '입석':
        charge = 0
    else:
        print('다시 입력하세요')
    return charge

In [12]:
def cal_payment(a,b,c):
    x = objection(a)
    y = train(b)
    z = ud(c)
    
    return print('열차 이용 요금은 :', x+y+z, '원입니다')

In [25]:
ob= input('목적지를 입력하세요:')
tr = input('탑승할 열차의 종류를 입력하세요:')
u = input('좌석의 종류를 입력하세요:')

cal_payment(ob,tr,u)

목적지를 입력하세요: 부산
탑승할 열차의 종류를 입력하세요: KTX
좌석의 종류를 입력하세요: 좌석

열차 이용 요금은 : 50000 원입니다

# <리스트>

In [28]:
temps = [28,31,33,35,27,26,25]

for i in range(len(temps)):
    print(temps[i], end=', ')

28, 31, 33, 35, 27, 26, 25,

In [30]:
temps = [28,31,33,35,27,26,25]
for element in temps:
    print(element, end=', ')

28, 31, 33, 35, 27, 26, 25,

In [33]:
questions = ['name', 'quest', 'color']
answers = ['Kim', 'python', 'blue']

for q, a in zip(questions, answers):
    print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is python
What is your color? It is blue

In [34]:
heroes = []
heroes.append('아이언맨')
heroes.append('토르')
print(heroes)

['아이언맨', '토르']

In [37]:
heroes = ['아이언맨', '토르', '헐크', '스칼렛 위치', '헐크']
n = heroes.index('헐크')
print(n)

2

In [38]:
heroes = ['아이언맨', '토르', '헐크']
heroes.pop(1)
print(heroes)

['아이언맨', '헐크']

In [40]:
a = [3,2,1,5,4]
a.sort()
a

[1, 2, 3, 4, 5]

In [42]:
heroes = ['아이언맨', '헐크', '토르']
heroes.sort()
heroes

['아이언맨', '토르', '헐크']

In [43]:
a=[3,2,1,5,4]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [44]:
num = [10,20,30,40,50]

print('합=', sum(num))
print('최대값=', max(num))
print('최소값=', min(num))

합= 150
최대값= 50
최소값= 10

In [45]:
import random

numList = [1,2,3,4,5,6,6,7,8,9,10]
print('랜덤하게 선택한 항목=', random.choice(numList))

랜덤하게 선택한 항목= 6

In [55]:
mylist = [30,10,20]
print('현재 리스트:%s'%mylist)

mylist.append(40)
print('append(40)후의 리스트:%s'%mylist)


print("pop()으로 추출한 값",mylist.pop())
print('pop()후의 리스트:%s'%mylist)

mylist.sort()
print('sort()후의 리스트 :', mylist)
print('reverse()후의 리스트 :')

print('20값의 위치', mylist.index(20))

mylist.insert(2,222)
print('insert(2,222) 후의 리스트:',mylist)

mylist.remove(222)
print('remove(222) 후의 리스트',mylist)

mylist.extend([77,88,77])
print('extend([77,88,77]) 후의 리스트',mylist)

print('77값의 개수', mylist.count(77))

현재 리스트:[30, 10, 20]
append(40)후의 리스트:[30, 10, 20, 40]
pop()으로 추출한 값 40
pop()후의 리스트:[30, 10, 20]
sort()후의 리스트 : [10, 20, 30]
reverse()후의 리스트 :
20값의 위치 1
insert(2,222) 후의 리스트: [10, 20, 222, 30]
remove(222) 후의 리스트 [10, 20, 30]
extend([77,88,77]) 후의 리스트 [10, 20, 30, 77, 88, 77]
77값의 개수 2

In [66]:
student = 5
lst = []
cnt = 0

for i in range(student):
    value = int(input('성적을 입력하세요'))
    lst.append(value)
    
print('성적평균=', sum(lst)/len(lst))
print('최대점수=', max(lst))
print('최소점수=', min(lst))

for i in lst:
    if i>=80:
        cnt+=1
print('80점이상=', cnt)

성적을 입력하세요 10
성적을 입력하세요 20
성적을 입력하세요 60
성적을 입력하세요 70
성적을 입력하세요 80

성적평균= 48.0
최대점수= 80
최소점수= 10
80점이상= 1

In [67]:
list1 = [1,2,3,4,15,99]

list1.sort()

print('두번째로 큰 수=', list1[-2])

두번째로 큰 수= 15

In [68]:
list1 = [1,2,3,4,15,99]

list1.remove(max(list1))

print('두번째로 큰 수=', max(list1))

두번째로 큰 수= 15

In [70]:
before = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
print('제거전', before)

before.remove(max(before))
before.remove(min(before))

print('제거후', before)

제거전 [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
제거후 [9.0, 8.3, 7.1, 9.0]

In [74]:
stack=[]

for i in range(3):
    f = input('과일을 입력하시오')
    stack.append(f)

for i in range(3):
    print(stack.pop())

과일을 입력하시오 apple
과일을 입력하시오 orange
과일을 입력하시오 grape

grape
orange
apple

In [75]:
string = ['happy','love','dog','cat']
num = [1,2,6,3,9,5]
empty = []
mix = [4.0, 'hi',1,'sum','x']

x = len(string)+len(num)+len(empty)+len(mix)

print('전체 요소의 갯수=',x)

전체 요소의 갯수= 15

In [76]:
temps = [28,31,33,35,27,26,25]
values = temps

print(temps)
values[3] = 39
print(temps)

[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]

In [78]:
temps = [28,31,33,35,27,26,25]
values = list(temps)

print(temps)
values[3] = 39
print(temps)
print(values)

[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]

In [81]:
numbers = [10,20,30,40,50,60,70,80,90]

sublist= numbers[2:7]
print(sublist)

[30, 40, 50, 60, 70]

In [82]:
new_numbers = numbers[:] #깊은복사

In [84]:
numbers = [10,20,30,40,50,60,70,80,90]
sublist = numbers[2:7:2]
print(sublist)

[30, 50, 70]

In [85]:
numbers = [10,20,30,40,50,60,70,80,90]
numbers[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [86]:
lst = [1,2,3,4,5,6,7,8]
lst[0:3] = ['white', 'blue','red']
lst

['white', 'blue', 'red', 4, 5, 6, 7, 8]

In [87]:
lst = [1,2,3,4,5,6,7,8]
lst[::2] = [99,99,99,99]
lst

[99, 2, 99, 4, 99, 6, 99, 8]

In [89]:
numbers = list(range(0,10))
print(numbers)
del numbers[-1]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [90]:
s = 'Monty Python'
print(s[0])
print(s[6:10])
print(s[-12:-7])

M
Pyth
Monty

### 다양한 리스트 함축

In [92]:
squares = [i*i for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [93]:
squares = [x*x for x in range(10) if x%2==0]
squares

[0, 4, 16, 36, 64]

In [95]:
price = [135,-545, 922, 356, -992, 217]
mprice = [i if i>0 else 0 for i in price]
mprice

[135, 0, 922, 356, 0, 217]

In [96]:
words = ['All', 'good','things','must','come','to','an','end']
letter = [w[0] for w in words]
letter

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [98]:
numbers = [x+y for x in ['a','b','c'] for y in ['x','y','z']]
numbers

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

### 2차원 리스트

In [101]:
#동적으로 2차원 리스트 생성

rows = 3
cols = 5

s = []

for row in range(rows):
    s+= [[0]*cols]
    
print("s=",s)

s= [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

### 문제1

In [103]:
numbers = [1,2,3,4,5,6,7,8,9,10]
lst = numbers[::-2]
print(lst)

[10, 8, 6, 4, 2]
[1]

In [104]:
numbers = [1,2,3,4,5,6,7,8,9,10]
del numbers[1:]
# numbers[1:] = []
print(numbers)

[1]

### 문제2

In [111]:
salaries = [200,250,300,280,500]

def modify(values, factor):
    lst = []
    for i in range(len(values)):
        values[i] = values[i]*factor
        
print('인상 전', salaries)
modify(salaries, 1.3)
print('인상 후', salaries)

인상 전 [200, 250, 300, 280, 500]
인상 후 [260.0, 325.0, 390.0, 364.0, 650.0]